<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanmou.yt.mapper.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ruanmou.yt.domain.TOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="payment_price" property="paymentPrice" jdbcType="DECIMAL" />
    <result column="payment_type" property="paymentType" jdbcType="SMALLINT" />
    <result column="order_status" property="orderStatus" jdbcType="SMALLINT" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
</mapper>