<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanmou.yt.mapper.TPaymentMapper" >
  <resultMap id="BaseResultMap" type="com.ruanmou.yt.domain.TPayment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="pay_platform" property="payPlatform" jdbcType="SMALLINT" />
    <result column="pay_serial_number" property="paySerialNumber" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
</mapper>