<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanmou.yt.mapper.TProductMapper" >
  <resultMap id="BaseResultMap" type="com.ruanmou.yt.domain.TProduct" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="prod_name" property="prodName" jdbcType="VARCHAR" />
    <result column="prod_bried" property="prodBried" jdbcType="VARCHAR" />
    <result column="prod_image" property="prodImage" jdbcType="VARCHAR" />
    <result column="prime_cost" property="primeCost" jdbcType="DECIMAL" />
    <result column="prod_sale" property="prodSale" jdbcType="DECIMAL" />
    <result column="sale_count" property="saleCount" jdbcType="BIGINT" />
    <result column="prod_stock" property="prodStock" jdbcType="BIGINT" />
    <result column="shelf_status" property="shelfStatus" jdbcType="SMALLINT" />
    <result column="prod_hot" property="prodHot" jdbcType="SMALLINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="navicat_id" property="navicatId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
    <result column="prod_detail" property="prodDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>