<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanmou.yt.mapper.TProdSpecItemMapper" >
  <resultMap id="BaseResultMap" type="com.ruanmou.yt.domain.TProdSpecItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="prod_id" property="prodId" jdbcType="BIGINT" />
    <result column="spec_item_id" property="specItemId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
  </resultMap>
</mapper>