<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-datasource.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-dubbo.xml" />

    <!--注意环境配置的读取必须放置在最后一个位置-->
    <!--配置开发环境-->
    <beans profile="dev">
        <context:property-placeholder location="classpath:dev/datasource.properties"/>
    </beans>

    <!--配置生产环境-->
    <beans profile="prod">
        <context:property-placeholder location="classpath:prod/datasource.properties"/>
    </beans>
    <!--配置测试环境-->
    <beans profile="test">
        <context:property-placeholder location="classpath:test/datasource.properties"/>
    </beans>
</beans>